:root {
  --bg-color: #F7F7FE;
  --white: #fff;
  --main-color: #6D72DE;
  --text-color: #4A4D60;
  --lingt-text-color: #6E728E;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: var(--bg-color);
  color: var(--lingt-text-color);
  background-image: url('../img/bg-left.svg'),
  url('../img/bg-ringt.svg');
  background-repeat: no-repeat;
  background-position: left -120px bottom -457px,
  right -100px top -100px;
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1050px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON */
.button  {
  margin: 0;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 13px;
  line-height: normal;
  letter-spacing: 1.4px;
  transition: background-color 0.4s ease,
  color 0.4s ease;
}

.button-block  {
  display: block;
  width: 100%;
}

.button-primary {
  background-color: var(--main-color);
  background-image: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  color: var(--white);
}

.button-primary:hover  {
  color: var(--main-color);
  background-color: var(--white);
  background-image: none;
  border-color: var(--main-color);
}

.button-white {
  background-color: var(--white);
  color: var(--main-color);
}

.button-white:hover {
  color: var(--white);
  background-color: transparent;
  border-color: var(--white);
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* MAIN */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}

.page-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 32px;
}

.pricing {
  width: 100%;
}

.pricing-iner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-plan {
  flex-grow: 1;
  max-width: 350px;
  padding: 32px;
  text-align: center;
  background-color: var(--white);
}

.pricing-plan-best {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #696EDD;
  background-image: linear-gradient(135.06deg, #A2A7F0 -0.05%, #696EDD 100.05%);
  color: var(--white);
  border-radius: 10px;
}

.pricing-plan-best .pricing-plan-price {
  color: var(--white);
}

.pricing-plan:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pricing-plan:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pricing-plan-title {
  margin-top: 0;
  margin-bottom: 24px;
}

.pricing-plan-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  line-height:72px;
  color: var(--text-color);
  margin-bottom: 32px;
}

.pricing-plan-currency {
  font-size: 40px;
  margin-right: 8px;
}

.pricing-plan-features {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 32px;
  border-top: 1px solid rgb(110, 114, 142, 0.25);
}

.pricing-plan-feature {
  padding: 12px;
  border-bottom: 1px solid rgb(110, 114, 142, 0.25);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
